#!/usr/bin/env xdg-open
[Desktop Entry]
Name=lotto
TryExec=lotto
Exec=lotto %f
Icon=/usr/share/icons/hicolor/scalable/apps/lotto.svg
Terminal=false
Type=Application
MimeType=application/x-lotto
Categories=GTK;Game;
